@media all {

    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #ffffff;
        color: #333333;
        margin: 0;
        padding: 0;
    }
    header {
        background-color: #dcffff; 
        color: gray;
        padding: 20px;
        text-align: center;
    }

    header h1 {
        font-family: 'Georgia', 'Times New Roman', serif;
        margin: 0;
    }

    header p {
        margin: 5px 0 0 0;
        font-size: 0.9em;
    }
    .navbar {
        list-style-type: none; 
        margin: 0;
        padding: 0;
        background-color: #b7d0d0; 
        display: flex;
        justify-content: space-around;
    }

    .navbar li a {
        display: block; 
        color: white;
        text-align: center;
        padding: 14px 16px; 
        text-decoration: none; 
    }
    .navbar li a:hover {
        background-color: #555;
    }
    .dropdown {
        position: relative;
    }
    .dropdown-content {
        display: none; 
        position: absolute;
        
        background-color: #b7d0d0; 
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1; 
        top: 100%; 
        left: 0;  
        width: 10em; 
        padding: 0;
        list-style-type: none;
    }

    /* 下拉選單中的 <li> 項目 */
    .dropdown-content li {
        float: none; 
    }
        .dropdown-content li a {
        padding: 12px 16px;
        display: block;
        text-align: left;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }

    main {
        padding: 20px; 
        line-height: 1.6;
    }
    
    main a {
        color: #2a7ab0; /* 讓 email 連結是藍色 */
    }
}

@media print {

    .navbar, header {
        display: none;
    }
    body {
        background-color: #ffffff;
        color: #000000;
    }
    main {
        padding: 0;
    }
}